* {
  margin: 0;
  padding: 0;
}
#fixedbutton {
  position: fixed;
  bottom: 100px;
  right: 100px;
}
h1 {
  color: lightblue;
}
h2 {
  color: blue;
}
.footer {
  background-color: grey;
  padding: 1px;
  text-align: center;
}
.footer ul {
  padding: 10px;
  color: white;
  font-size: 15px;
}
.footer li {
  color: white;
  margin: 2px;
  list-style-type: none;
  display: inline-block;
}
.footer a {
  color: white;
}
